* {
    margin: 0;
}

body {
    background-color: rgba(255, 242, 232, 1);
}

.header {
    position: absolute;
    width: 100%;
    height: 19%;
    background-color: rgba(64, 84, 124, 1);
}

.logo {
    width: 325px;
    margin-left: 100px;
    border: #9f1d13;
}

.menuDirector {
    color :#ffffff;
    transition-duration: 0.4s;
    position: absolute;
    width: 139px;
    height: 43px;
    left: 900px;
    top: 100px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 4px;
    text-align: center;
    padding: 10px 24px;
    border: 0cm transparent;
    font-family: 'Sen', sans-serif;
}


.menuRanking {
    color :#ffffff;
    transition-duration: 0.4s;
    position: absolute;
    width: 139px;
    height: 43px;
    left: 1150px;
    top: 100px;
    background-color: transparent;
    font-size: 20px;
    border-radius: 4px;
    text-align: center;
    padding: 10px 24px;
    border: 0cm transparent;
    font-family: 'Sen', sans-serif;
}



.poster {
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
}

.imagen {
    width: 310px;
    height: 438px;
    border-radius: 15px;
}

.filmStyle {
    width: 100%;
    display: grid;
    justify-items: center;
    place-items: center;
    padding-top: 250px;
    grid-auto-rows: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}



h4 {
    color: rgb(0, 0, 0);
    font-family: 'Sen', sans-serif;
    font-size: 15px;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: 'Sen', sans-serif;
    font-size: 20px;
}